.horizontal-strip {
  background-color: black;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: xx-large;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Takes remaining space between logo and buttons */
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.right-buttons {
  display: flex;
  gap: 10px; /* Small gap between Cart and Logout buttons */
}

.right-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.right-buttons button:hover {
  background-color: #edeff1;
}
